h2{color:navajowhite;}
    h6{font-size: xx-large;
    background-color: burlywood;}

  h1{
  color: purple;
  font-family: serif;
  margin-bottom: 10px;
}

ul{color: chartreuse;

}


p{font-size: large;
color: coral;}
#verde{color:chocolate}



h2,h3{
    font-family: Helvetica;
    color: orange;
}

span{
    color: crimson;
   
    }